In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("Q7.csv")

In [15]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [10]:
df["Points"].describe()

count    32.000000
mean      3.596563
std       0.534679
min       2.760000
25%       3.080000
50%       3.695000
75%       3.920000
max       4.930000
Name: Points, dtype: float64

In [32]:
for i in df.columns[1:]:
    print(i,df[i].value_counts())

Points Points
3.07    3
3.92    3
2.76    2
3.15    2
3.90    2
3.08    2
4.08    2
4.22    2
3.21    1
3.85    1
2.93    1
3.00    1
3.23    1
3.69    1
4.93    1
3.70    1
3.73    1
4.43    1
3.77    1
3.62    1
3.54    1
4.11    1
Name: count, dtype: int64
Score Score
3.440    3
3.570    2
2.620    1
2.320    1
2.875    1
3.215    1
3.460    1
3.190    1
3.150    1
4.070    1
3.730    1
3.780    1
5.250    1
5.424    1
5.345    1
2.200    1
1.615    1
1.835    1
2.465    1
3.520    1
3.435    1
3.840    1
3.845    1
1.935    1
2.140    1
1.513    1
3.170    1
2.770    1
2.780    1
Name: count, dtype: int64
Weigh Weigh
17.02    2
18.90    2
18.61    1
19.44    1
20.22    1
16.46    1
15.84    1
20.00    1
22.90    1
18.30    1
17.40    1
17.60    1
18.00    1
17.98    1
17.82    1
17.42    1
19.47    1
18.52    1
19.90    1
20.01    1
16.87    1
17.30    1
15.41    1
17.05    1
16.70    1
16.90    1
14.50    1
15.50    1
14.60    1
18.60    1
Name: count, dtype: int64

In [33]:
for i in df.columns[1:]:
    # print(i)
    print(i,"mean",df[i].mean())
    print(i,"median",df[i].median())
    print(i,"mode",df[i].mode())

Points mean 3.5965625
Points median 3.6950000000000003
Points mode 0    3.07
1    3.92
Name: Points, dtype: float64
Score mean 3.2172500000000004
Score median 3.325
Score mode 0    3.44
Name: Score, dtype: float64
Weigh mean 17.848750000000003
Weigh median 17.71
Weigh mode 0    17.02
1    18.90
Name: Weigh, dtype: float64

In [38]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [40]:
for i in df.columns[1:]:
    print(i,df[i].describe()["max"],df[i].describe()["min"])
# X.copy()

Points 4.93 2.76
Score 5.424 1.513
Weigh 22.9 14.5