In [31]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [11]:
pd.set_option("display.max_rows",10)
pd.set_option("display.max_columns", 1440)

In [12]:
df = pd.read_csv("ToyotaCorolla.csv",encoding="ISO-8859-1")
df

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,Automatic,cc,Doors,Cylinders,Gears,Quarterly_Tax,Weight,Mfr_Guarantee,BOVAG_Guarantee,Guarantee_Period,ABS,Airbag_1,Airbag_2,Airco,Automatic_airco,Boardcomputer,CD_Player,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,0,2000,3,4,5,210,1165,0,1,3,1,1,1,0,0,1,0,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,0,2000,3,4,5,210,1165,0,1,3,1,1,1,1,0,1,1,1,0,1,0,0,0,1,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,0,2000,3,4,5,210,1165,1,1,3,1,1,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,0,2000,3,4,5,210,1165,1,1,3,1,1,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,0,2000,3,4,5,210,1170,1,1,3,1,1,1,1,0,1,0,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,Blue,0,1300,3,4,5,69,1025,1,1,3,1,1,1,1,0,0,0,1,1,1,0,1,1,1,0,0,0
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,Grey,0,1300,3,4,5,69,1015,0,1,3,1,1,1,0,0,0,0,0,0,1,0,0,1,1,0,0,0
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,Blue,0,1300,3,4,5,69,1015,0,1,3,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,Grey,0,1300,3,4,5,69,1015,1,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,Green,0,1600,5,4,5,19,1114,0,0,3,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [51]:
y = df.iloc[:,2:3]
y
x = df[["Age_08_04","KM","HP","cc","Doors","Gears","Quarterly_Tax","Weight"]]
x

      Age_08_04     KM   HP    cc  Doors  Gears  Quarterly_Tax  Weight
0            23  46986   90  2000      3      5            210    1165
1            23  72937   90  2000      3      5            210    1165
2            24  41711   90  2000      3      5            210    1165
3            26  48000   90  2000      3      5            210    1165
4            30  38500   90  2000      3      5            210    1170
...         ...    ...  ...   ...    ...    ...            ...     ...
1431         69  20544   86  1300      3      5             69    1025
1432         72  19000   86  1300      3      5             69    1015
1433         71  17016   86  1300      3      5             69    1015
1434         70  16916   86  1300      3      5             69    1015
1435         76      1  110  1600      5      5             19    1114

[1436 rows x 8 columns]

In [24]:
new_x = pd.get_dummies(x)
new_x

      Age_08_04     KM   HP    cc  Doors  Gears  Quarterly_Tax  Weight
0            23  46986   90  2000      3      5            210    1165
1            23  72937   90  2000      3      5            210    1165
2            24  41711   90  2000      3      5            210    1165
3            26  48000   90  2000      3      5            210    1165
4            30  38500   90  2000      3      5            210    1170
...         ...    ...  ...   ...    ...    ...            ...     ...
1431         69  20544   86  1300      3      5             69    1025
1432         72  19000   86  1300      3      5             69    1015
1433         71  17016   86  1300      3      5             69    1015
1434         70  16916   86  1300      3      5             69    1015
1435         76      1  110  1600      5      5             19    1114

[1436 rows x 8 columns]

In [29]:
sc = StandardScaler()
new_x1 = sc.fit_transform(new_x)
# new_x1

In [44]:
new_x1.shape

(1436, 8)

In [32]:
x_train,x_test,y_train,y_test = train_test_split(new_x1,y,test_size=0.2,random_state=42)

In [34]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [36]:
y_pred = lr.predict(x_test)

In [39]:
comp = pd.DataFrame({"pred":np.array(y_pred).reshape(-1),"actuals":np.array(y_test).reshape(-1)})

In [41]:
comp

             pred  actuals
0    11334.877221    10800
1     8930.649456     9950
2     9548.864621     7500
3     8965.065760     9250
4    10038.782357     9750
..            ...      ...
283  19042.142710    21950
284   8132.455959     8450
285  13588.762823    12850
286  10702.235018     6950
287  10790.746173     8900

[288 rows x 2 columns]

In [45]:
r2_score(y_true=y_test,y_pred=y_pred)

0.8538352805672251

Lets check r2_score for categorical variables doors and gears

In [48]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [54]:
x.dtypes

Age_08_04        int64
KM               int64
HP               int64
cc               int64
Doors            int64
Gears            int64
Quarterly_Tax    int64
Weight           int64
dtype: object

In [57]:
x2 = x

In [58]:
# x2 = x[["Doors","Gears"]].astype("category")
categorical_columns = ["Doors","Gears"]

for cols in categorical_columns:
    x2[cols] = x2[cols].astype("category")

/tmp/ipykernel_23279/763051022.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x2[cols] = x2[cols].astype("category")

In [60]:
x2.dtypes

Age_08_04           int64
KM                  int64
HP                  int64
cc                  int64
Doors            category
Gears            category
Quarterly_Tax       int64
Weight              int64
dtype: object

In [65]:
x2 = pd.get_dummies(x2)

In [68]:
stndScaler = StandardScaler()
stndScaler.fit_transform(x2)

array([[-1.77196633, -0.57469494, -0.76804185, ..., -0.02639818,
         0.18191626, -0.1756947 ],
       [-1.77196633,  0.11745379, -0.76804185, ..., -0.02639818,
         0.18191626, -0.1756947 ],
       [-1.71818412, -0.71538641, -0.76804185, ..., -0.02639818,
         0.18191626, -0.1756947 ],
       ...,
       [ 0.80957948, -1.37403589, -1.03513832, ..., -0.02639818,
         0.18191626, -0.1756947 ],
       [ 0.75579727, -1.37670303, -1.03513832, ..., -0.02639818,
         0.18191626, -0.1756947 ],
       [ 1.0784905 , -1.82784925,  0.5674405 , ..., -0.02639818,
         0.18191626, -0.1756947 ]])

In [71]:
p,q,r,s = train_test_split(x2,y,test_size=0.2,random_state=42)

In [72]:
linreg  = LinearRegression()
linreg.fit(p,r)

LinearRegression()

In [74]:
new_pred = linreg.predict(q)

In [81]:
check_comp = pd.DataFrame({"pred":np.array(new_pred).reshape(-1),"actual":np.array(s).reshape(-1)})

In [82]:
check_comp

             pred  actual
0    11310.002620   10800
1     8912.362902    9950
2     9738.123559    7500
3     8947.910020    9250
4    10034.756140    9750
..            ...     ...
283  19042.759101   21950
284   8107.116897    8450
285  13573.050103   12850
286  10719.091900    6950
287  10774.928234    8900

[288 rows x 2 columns]

In [78]:
r2_score(y_true=s,y_pred=new_pred)

0.8535994152063605